.shop-header{
     margin: auto;
     margin-bottom: 1rem;
     width: 100%;
     padding: 1rem;
     text-align: center;
     background: #F49D1A;
}

#shop-heading{
     font-family: var(--font-family-primary);
     font-size: 1.5rem;
     font-weight: 600;
     color: #FFFFFF;
}