@import './css/Header.css';
@import './css/Footer.css';
@import './css/Home.css';
@import './css/Shop.css';
@import './css/Product.css';
@import './css/Loader.css';

:root{
  --color-primary: #FED049;
  --color-secondary: #3D5656;
  --color-background: #68B984;
  --color-dark: #1E1E1E;
  --color-text-header: #000000;
  --font-family-primary: Montserrat;
  --font-family-secondary: Roboto Mono;
  --font-family-logo: Cedarville Cursive;
  --font-family-header: Gochi Hand;
  --font-size-primary: 1.2rem;
  --font-size-large: 2.2rem;
  --font-size-logo: 2rem;
  --font-size-tagline: 3rem;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background: var(--color-primary);
  font-family: var(--font-family--primary);
  color: var(--color-text-header);
}

.container{
  padding: 0 4rem;
}

@media (max-width: 916px) {
  .container{
    padding: 0 2rem;
  }
}